
<app-navbar></app-navbar>

<div class="row">

  <div class="col-xs-1 col-sm-1 col-md-3  products" *ngFor="let producto of productos">
    <div class="thumbnail">
      <img src={{producto.url}} class="img-responsive" alt="Cinque Terre" width="10" height="300"/>
      <div class="caption">
        <h3 class="demo-2">{{producto.name}}</h3>
        <p class="demo-3">{{producto.excerpt}}</p>
        <h4> USD {{producto.price}}</h4>
        <p><a class="btn btn-success btn-xs"
              (click)="sumarPrecio(producto)">Agregar al carrito</a> </p>
        <!--<button mat-button  (click)="openDialog()">Prueba</button>-->

      </div>
    </div>
  </div>

 <!-- <ng2-poppopup>-->
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2" > <button class="btn btn-primary btn-xs" routerLink="{{anteriorEstacion}}" [disabled] = "primeraEstacion"> {{buttonNameAnterior}} </button></div>
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <button class="btn btn-primary btn-xs" routerLink="{{siguienteEstacion}}"> {{buttonName}} </button>
    </div>
  </div>
</div>
