<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Precio total: {{precioTotal}}</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre del producto</th>
				<th>Precio</th>
				<th>Eliminar</th>
			</tr>
		</thead>
		<tbody  *ngFor="let compra of carro">	
			<tr>
				<td>{{compra.producto.name}}</td>
				<td>{{compra.producto.price}}</td>
				<td><button class="btn btn-danger btn-xs" (click)="eliminarArticulo(compra)">Eliminar</button> </td>
			</tr>
		</tbody>
	</table>
</div>
<div class="container">	
	<h4>¿Desea volver a alguna estacion para escoger otro producto? escoga una estacion</h4>
	<button class="btn btn-primary btn-xs" routerLink="/productos/electronics"> Electronicos</button>
	<button class="btn btn-primary btn-xs" routerLink="/productos/movies"> Peliculas</button>
	<button class="btn btn-primary btn-xs" routerLink="/productos/videogames"> Video-Juegos</button>
</div>	
<br>
<div class="container">
	<button class="btn btn-success btn-xs" (click)="generarCompra()">Aceptar articulos</button> * Se abrira un log con el JSON del carro de compras.

</div>